# **Python Data Types and Structures Questions - Theoretical Questions**

**1.What are data structures, and why are they important?**
- Data Structures are used to store individual elements inside a block.
- Accessing data efficiently can solve many real world problems like handling huge amount of data , retrieving , updating etc..
- Data Structures also help in managing memory efficiently.
-There different types of Data Structures in Python(Ex: List , Tuple , String , Set etc..)

**2.Explain the difference between mutable and immutable data types with examples**
- **Mutable**: Mutable objects can be modified after creation.
- Elements can be inserted , deleted , modified in these data types.
- **Immutable**: Mutable objects cannot be modified after creation.
- Any operation that tries to change its content will create a new object instead.
- **Mutable Data Types** : List , Dictionary(Values) , Sets.
-**Immutable Data Types**: Dictionary(Keys) , Tuples , Strings.

**3** **What are the main differences between lists and tuples in Python3**
- Lists are Mutable Data Structures
-Tuples are immutable Data Structures
-Lists are defined with squared brackets [ ]
- Tuples are defined using regular brackets ()
- Lists are slower due to mutability and Tuples are faster due to immutability.
- Dynamic memory allocation for lists because elements can be added in future . This leads of inefficient memory management.
- Fixed size memory allocation as they cannot be modified in the future. This leads to efficient memory management.
- Lists stores the references to the objects inside them which takes additional layer of storage.
-Tuples directly stores objects since no future modification will be there.

**4.Describe how dictionaries store data ?**
- Dictionaries store data in key-value pair format
- Each element has it's corresponding key and value.
- Keys has to be unique.
- dict.keys will return the keys in the dictionary
- dict.values will return the values for each key value.
- Both can be accessed simultaneously using dict.items()
- Example : dict = { 1 : 'A', 2 : 'B', 3 : 'C'}
- Here 1,2,3 are described as keys and A , B , C are described as values

**5.Why might you use a set instead of a list in Python3 ?**
- Sets are preferred over Lists when we need to store unique elements.
- Sets provide Built-In operations like Union , Intersection , Difference.
- Example :
- set1 = {1, 2, 3, 4}
- set2 = {3, 4, 5, 6}
- union(set1 , set2) ----> {1,2,3,4,5,6}
-intersection(set1 , set2) ---> {3,4}
-set1 - set2 ----> {1,2} .. All the elements that are in set1 but not in set2
- If order of elements is required then using set reduces the use of overhead space.
- Fast lookup (O(1)) as a set can be stored as hashable type.Where list take (O(n)) and cannot be hashed .

**6. What is a string in Python, and how is it different from a list3**
- A string in python is a sequence of characters.
- Strings are enclosed within quotes. (" " , ' ' , """ """, ''' ''')

- String is immutable meaning if tried to modify then a new instance or copy will be created.
- Strings store only character data types.
- List in python stores different types of individual elements seperated by a comma as a block.
- List is mutable meaning can be modified.
- Lists are enclosed using  square brackets [ ].

**7.How do tuples ensure data integrity in Python3**
- Since tuples are immutables they cannot be modified.
- Once it is created, its elements cannot be modified, added, or removed.
- Trying to modify a tuple will cause an error.
- Because tuples are immutable, they are hashable , this allows them to be used as keys in dictionaries.

**8.What is a hash table, and how does it relate to dictionaries in Python3**
- A hash table is a data structure that stores data in the form of  key-value pairs.
- It allows for faster data retrieval by using hashing.
- In Python, the built-in dict type is implemented as a hash table.
- Dict aslo stores elements in the form of key-value pairs.
- Fast Lookups --> O(1) time complexity for getting or setting values.
- Efficient Insertion and Deletion ---> O(1).

**9.Can lists contain different data types in Python3**
- Lists are well known to store different data types.
- Lists are similar to arrays but lists can store all types of data types where an array can only one data type.
- Lists can also be nested , meaning you can store other data structures like lists inside a list.

- Example :  sample_list = [1 , 'abc' , [1, 2, 'j'] , 3+6j ]

**10.Explain why strings are immutable in Python?**
- Strings are by default Immutable, meaning once defined cannot be modified.
- If you try to change it, a new string is created instead.
- Memory Efficiency (Interning Mechanism) : Python interns some strings, meaning it reuses objects for strings with the same content to save memory.
- Example : a = "Hello"  
- b = "Hello"  
-a is b --->  a & b both point to the same object in memory
- Since immutable no over head memory is needed.
- Also can be stored as a hashable which tends to work faster and efficient.

**11.What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries provide constant time complexity (O(1)) for lookups, insertions, and deletions.
- Where as Lists require O(n) time for searching an element, as they need to iterate through each item.
- Dictionaries are hashable as their keys are immutable.

**12.Describe a scenario where using a tuple would be preferable over a list?**
- Storing Geographic Coordinates (Latitude, Longitude)
- We can use tuples to store ID values (Which should be immutable)

**13.How do sets handle duplicate values in Python?**
- Sets does not store duplicates.
- It stores only unique values.
- Example : set_example = set {1,2,3,4,4,4,2,3}
- print(set_example) --> Output : {1,2,3,4}

**14.How does the “in” keyword work differently for lists and dictionaries?**
- When you use the in keyword with a list, it checks if the value (element) is present anywhere in the list.
- Example : fruits = ["apple", "banana", "orange"]
- print("apple" in fruits)  -->  Output : True (Take O(n)) Time.
- When you use the in keyword with a dictionary, it only checks for keys—not values.
-This operation is very fast (O(1)) because dictionaries are implemented as hash tables.

**15.Can you modify the elements of a tuple? Explain why or why not?**
- No tuples cannot be modified.
- Cannot be modified because they are immutable data types.
- Trying to do will raise a type error.

**16.What is a nested dictionary, and give an example of its use case?**

- A nested dictionary is a dictionary that contains one or more dictionaries as its values.
-A nested dictionary can be used to store each student's details in a structured format.
-students =
{  "101": {
        "name": "Alice",
        "age": 21,
        "courses": {
            "Math": "A",
            "Physics": "B+",
            "Chemistry": "A-"
        }}

**17.Describe the time complexity of accessing elements in a dictionary?**
- Time complexity for accessing an element from a dictionary take O(1) time.
-Since dictionary keys are unique they are hashable , meaning they are stored using in the memory using the hash value.
-Therefore retrieving the hash value just takes O(1) time.

**18.In what situations are lists preferred over dictionaries?**
- When we want to access elements by their indices.
- When we want to perform slicing.
- Lists are more efficient for operations like:
   - Sorting
   - Reversing
   - Appending and Extending

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7, dictionaries were considered unordered.
- This means the order in which you inserted key-value pairs was not guaranteed to be the same when you retrieved them.
-Starting from Python 3.7, dictionaries maintain insertion order.
- After 3.7 we can expect the insertion order to be preserved.
- Internally, Python also maintains a linked list of the keys in insertion order.
- When we iterate over the dictionary, it simply follows the linked list instead of the hash table directly.

**20.Explain the difference between a list and a dictionary in terms of data retrieval?**
- List : Data is retrieved using indexes
  - O(1) for direct access by index.
  - O(n) for searching if the value is unknown.
  - Slower for lookups unless the index is known.
- Dictionary : Data is retrieved using keys
  - O(1) for key-based access
  - Access by key mapping, independent of order.
  - Faster because of hashing.

# **Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it.

name = "Abhishakth"

print(name)

Abhishakth

In [3]:
#2.Write a code to find the length of the string "Hello World"?
length = len("Hello World")

print(length)

11

In [4]:
#3 .Write a code to slice the first 3 characters from the string "Python Programming"?

string_given = "Python Programming"

print(string_given[0:3])

Pyt

In [5]:
#4.Write a code to convert the string "hello" to uppercase?

string_given = "hello"

print(string_given.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

string_given = "I like apple"

print(string_given.replace("apple" , "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?

new_list = list(range(1,6))

print(new_list)

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
new_list = [1,2,3,4]

new_list.append(10)

print(new_list)

[1, 2, 3, 4, 10]

In [11]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
new_list = [1,2,3,4,5]

new_list.remove(3)

print(new_list)

[1, 2, 4, 5]

In [12]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

new_list = ['a', 'b', 'c', 'd']

accessed_element = new_list[1]

print(accessed_element)

b

In [13]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]?

new_list =  [10, 20, 30, 40, 50]

reversed_list = new_list[::-1]

print(reversed_list)

[50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.?
tuple_given = (100 , 200 , 300)

print(tuple_given)

(100, 200, 300)

In [22]:
#  12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple_given = ('red', 'green', 'blue', 'yellow')

print(tuple_given[-2])

blue

In [23]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple_given = (10, 20, 5, 15)

print(min(tuple_given))

5

In [24]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple_given = ('dog', 'cat', 'rabbit')

print(tuple_given.index('cat'))

1

In [25]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple_given = ('strawberry' , 'kiwi' , 'apple')

print('kiwi' in tuple_given)

True

In [27]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_given = {'a', 'b', 'c'}

print(set_given)

{'a', 'b', 'c'}

In [28]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set_given = {1, 2, 3, 4, 5}

set_given.clear()

print(set_given)

set()

In [29]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set_given = {1, 2, 3, 4}

set_given.remove(4)

print(set_given)

{1, 2, 3}

In [30]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}

set2 = {3, 4, 5}

print(set1 | set2)

{1, 2, 3, 4, 5}

In [31]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 =  {1, 2, 3}

set2 = {2, 3, 4}

print(set1 & set2)

{2, 3}

In [35]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict_given = {'name': 'Abhi', 'age' : 23 , 'city':'Guntur'}

print(dict_given)

{'name': 'Abhi', 'age': 23, 'city': 'Guntur'}

In [36]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict_given = {'name': 'John', 'age': 25}

dict_given['country'] = "USA"

print(dict_given)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dict_given =  {'name': 'Alice', 'age': 30}

name_accessed = dict_given['name']

print(name_accessed)

Alice

In [39]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict_given = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict_given.pop('age')

dict_given

{'name': 'Bob', 'city': 'New York'}

In [40]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict_given = {'name': 'Alice', 'city': 'Paris'}

print('city' in dict_given)

True

In [42]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

list_given = [1,2,3]

tuple_given = (1,2,3)

dict_given = {1:'A', 2: 'B' , 3:'C'}

print(list_given)
print(tuple_given)
print(dict_given)

[1, 2, 3]
(1, 2, 3)
{1: 'A', 2: 'B', 3: 'C'}

In [46]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

list_given = []

for i in range(5):

  list_given.append(random.randint(1,100))


print(sorted(list_given))

[20, 72, 75, 75, 94]

In [47]:
#28. Write a code to create a list with strings and print the element at the third index.

list_given = ['a' , 'b' , 'c' , 'd']

third_element = list_given[3]

print(third_element)

d

In [52]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Abhi' , 'age' : 23 , 'city' : 'Guntur'}

dict2 = {'gender' : 'male'}

print(dict1 | dict2)

{'name': 'Abhi', 'age': 23, 'city': 'Guntur', 'gender': 'male'}

In [53]:
# 30. Write a code to convert a list of strings into a set.

list_given = ['a' , 'b' , 'c' , 'c']

set_given = set(list_given)

print(set_given)

{'a', 'b', 'c'}